@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Home Banking</h1>
    <p>Click for <a asp-action="Transfer" asp-controller="Home">transfer money to another account</a></p>
</div>
